n8n workflow/jobdesc-data-extract.json
{
  "name": "jobdesc-data-extract",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ JSON.stringify($json.body) }}\nget data list from description and turn it into json\nwith keys \nindex, \nqualifications, \nbenefits, \nresponibilities,\ntools_requirement,\nyears_of_experience",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        608,
        0
      ],
      "id": "e6761574-ee3a-42a4-9cc3-cf20930b609f",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b324ddd9-5e2d-408f-a391-109810bcd020",
              "name": "body",
              "value": "={{ $json.body }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        352,
        0
      ],
      "id": "d14b9751-2347-4e41-925f-363f3512f689",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "model": "codestral-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        608,
        192
      ],
      "id": "adccf9d8-dfe1-43aa-890b-8ab2e8056596",
      "name": "Mistral Cloud Chat Model1",
      "credentials": {
        "mistralCloudApi": {
          "id": "YT6n0jsRlgZlODg5",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"output\":[\n    {\n      \"index\": 0,\n      \"qualifications\":[\"\"],\n      \"benefits\":[\"\"],\n      \"responsibilities\":[\"\"],\n      \"tools_requirement\":[\"\"],\n      \"years_of_experience\":\"\"\n    }\n  ]\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        752,
        192
      ],
      "id": "99525db5-6cf0-4c47-90b8-bfc4f23d1d7c",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "b41fb2f1-e65f-4b02-9e32-3629214ca314",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        96,
        0
      ],
      "id": "c07bbb8d-01f1-4c60-9a4d-95a14220ba18",
      "name": "Webhook",
      "webhookId": "b41fb2f1-e65f-4b02-9e32-3629214ca314"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1024,
        0
      ],
      "id": "2d342790-0d46-4588-b4e0-45892e1d2124",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "store job list data",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        592,
        352
      ],
      "id": "1fd75d2c-6d0b-491c-8068-74fbf94d1b69",
      "name": "Simple Vector Store"
    },
    {
      "parameters": {
        "model": "codestral-embed-2505",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsMistralCloud",
      "typeVersion": 1,
      "position": [
        592,
        496
      ],
      "id": "49b751ee-8b3b-404b-88c0-56b81408185b",
      "name": "Embeddings Mistral Cloud",
      "credentials": {
        "mistralCloudApi": {
          "id": "YT6n0jsRlgZlODg5",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "model": "codestral-2501",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        896,
        336
      ],
      "id": "b7b52125-7f80-4c6a-a862-2c0e1c3ff3d6",
      "name": "Mistral Cloud Chat Model",
      "credentials": {
        "mistralCloudApi": {
          "id": "YT6n0jsRlgZlODg5",
          "name": "Mistral Cloud account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Mistral Cloud": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "49e630c1-32a2-4999-9ebe-9deb563ff21b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "47ade5423a412ebbe99ad9c967e18024b9de955cc89655d8354f57dae187236e"
  },
  "id": "jJfxdl7UN94Uejsg",
  "tags": []
}